*{
    margin: 0px;
    padding: auto;
}
body{
    color: lightgray;
    background: rgb(36, 36, 37);
}
#header{
    color: lightgray;
    background-color: crimson;
    border: 3px solid rgb(182, 18, 50);
    line-height: 50px;
}
#name{
    text-align: right;
}
footer{
    padding: 5px;

}
.links{
    color: rgb(255, 38, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 1000px;
    margin-left: 500px;  
    margin-bottom: 50px;

}
